<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lei.music.dao.musictop.fashiontopDao">

    <sql id="Base_Column_List">
        id,songName,singerName
    </sql>
    <select id="queryfashionTops" resultType="com.lei.music.entity.musictop.Top">
        select <include refid="Base_Column_List"/> from fashiontop
    </select>

    <insert id="savefashionTop" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.lei.music.entity.musictop.Top">
        insert  into fashiontop(songName,singerName) values (#{songName},#{singerName})
    </insert>

    <delete id="removefashionTop" parameterType="Integer">
        delete from fashiontop where id=#{id}
    </delete>

    <update id="updatefashionTop" parameterType="com.lei.music.entity.musictop.Top">
        update fashiontop set songName=#{songName},singerName=#{singerName} where id=#{id}
    </update>


</mapper>